<h1 style="font-size: 1rem; font-weight: normal">Thank you for your order!</h1>

<p>
  Your order of:
</p>

<table>
  <tr>
    <th colspan="2" style="padding: 1rem;">Qty</th><th class="padding: 1rem;">Description</th>
  </tr>
  <%= render @order.line_items %>
</table>

<h2 class="padding: 1rem;">Soli Deo Gloria,<br>Christopher Enloe</h2>