// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.depot_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  border: 2px solid red;
  padding: 1rem;
  font-size: 1.5rem;
}

legend,.name-title, .name-field,.password-title,.password-field {
  color: black;
  margin: 1rem;
}

.name-field {
  background-color: white;
  width: 10rem;
}
